# Created by .ignore support plugin (hsz.mobi)
/venv/
.idea/.gitignore
.idea/Kikusui PBZ20-20 Supply Control.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/
/UI/
