click==7.1.2
importlib-metadata==3.4.0
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.0.1
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
pyqt5-tools==5.15.2.3.0.1
python-dotenv==0.15.0
PyVISA==1.11.3
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
typing-extensions==3.7.4.3
zipp==3.4.0
